@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #59a2a6;
  --primary-foreground: #ffffff;
  --card: #ffffff;
  --card-foreground: #374151;
  --muted: #dadce0;
  --muted-foreground: #6c757f;
  --border: #d1d5db;
  --radius: 0.5rem;

  --foreground: #1c1c1e;
  --background: hsl(100, 11%, 97%);
}

body {
  color: rgb(var(--foreground));
  background: linear-gradient(
    to bottom,
    rgb(var(--background)),
    rgb(var(--background))
  );
}
